<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" [routerLink]="['/']">
      <img class="has-text-primary-light has-background-white" src="assets/noun-drawing-1154839.svg">
    </a>
  </div>
  <div class="navbar-menu">
    <a class="navbar-item" routerLinkActive="is-selected" [routerLinkActiveOptions]="{exact: true}"
      [routerLink]="['/']">Home</a>
    <a class="navbar-item" routerLinkActive="is-selected" [routerLink]="['/timeline']">My Timeline</a>
  </div>
</nav>